.canvas{
    display: flex;
    justify-content: center;
    align-items: flex-start;
     
}

#inviteFriend{
    background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 8%;
    height: 59%;
}

#canvas{
    border: 5px solid black;
    border-radius: 25px;
    background-color: beige;
}
